.header {

    &__logo-wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 100px;
    }

    &__title {
        padding-left: $spacer;
        color: $color-white;
        font-size: $font-size-sm-large;
        font-family: $font-family-title;
    }
}