.navigation {
    &__list {
        display: flex;
        justify-content: space-between;
        @include clear-list-style();
    }

    &__link {
        color: $color-white;
        font-weight: $font-weight-light;
        &:hover,
        &_active {
            color: $color-secondary; 
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(md) {
        display: block;
    }
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: -$mobile-menu-width;
        height: 100vh;
        width: $mobile-menu-width;
        padding: $spacer * 3 0;
        z-index: 90;
        transition: left .5s linear;
        background-image: linear-gradient(to right,#211b19 0,#4e3427 100%);
        &__list {
            flex-direction: column;
        }
        &__link {
            display: block;
            padding: $spacer / 2 $spacer * 3;
            font-size: $font-size-large;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            transition: .3s;
            &:hover {
                background: $color-secondary;
                color: $color-black;
            }
        }
    }

    &_open {
        right: 0;
    }
}