.swiper-home {

    &__slide {
        @include bg-block(false, $color: rgb(17, 17, 17), $opacity: 0.7);
    }

    &__photo {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    &__pagination {
        bottom: 40px!important;

        .swiper-pagination-bullet {
            background: $color-white;
            opacity: .5;
            width: 15px;
            height: 15px;

            &-active {
                background: transparent;
                border: 2px solid $slider-tools-color;
            }
        }
    }

    &__content {
        @include center('both');
        text-align: center;
        color: $color-white;
    }

    &__title {
        font-size: $slider-title-font-size;
        font-family: $font-family-title;
        font-weight: $font-weight-bold;
    }

    &__subTitle {
        font-size: $slider-subtitle-font-size;
        font-family: $font-family-title;
    }

    &__btn {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn_size_l;
        margin-top: $spacer * 2;
    }

    &__btn-nav {
        color: $slider-tools-color;
    }

}

.swiper-project {
    &__wrapper {
        padding-top: $spacer * 3;
    }

    &__pagination {
        position: relative;
        bottom: 0!important;
        margin-top: $spacer * 3;
        .swiper-pagination-bullet {
            width: auto;
            height: auto;
            border-radius: 3px;
            color: $color-gray;
            padding: $spacer / 3 $spacer;
            border: 1px solid #ebebeb;
            background-color: transparent;
            opacity: 1;
            &-active {
                background-color: $color-vinous;
                color: $color-white;
            }
        }
    }

    &__more {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn_size_m; 
    }
}