.page-home {
    &__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}

.section {
    padding: $spacer * 3 0;

    &_bg {
        &_dark {
            background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
        }
    }

    &-slider {
        padding: 0;
    }

    &-variation {
        text-align: center;
        background-color: $color-gray-light;
        @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        }

        &__browser {
            margin-top: $spacer * 3;
        }
    }

    &-sale {
        @include media-breakpoint-down(lg) {
            text-align: center;
        }
        &__title {
            margin-bottom: 0;
            color: $color-white;

            span {
                color: $color-secondary;
            }
        }

        &__text {
            color: $color-cyan;
            font-size: $font-size-lg-regular;
            @include media-breakpoint-down(lg) {
                margin-bottom: $spacer * 2;
            }
        }

        &__btn {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn_size_l;
            float: right;
            @include media-breakpoint-down(lg) {
                float: none;
            }
        }
    }

    &-project {
        text-align: center;
    }

    &-presentation {
        @include bg-block($img: false, $color: $color-black, $opacity: 0.5);
        padding: 0;

        &__video {
            width: 100%;
            height: 700px;
            object-fit: cover;
        }

        &__content {
            color: $color-white;
            text-align: center;
            @include center('both');
            z-index: 1;
        }

        &__icon {
            fill: $color-white;
            background-color: rgba(0, 0, 0, .3);
            padding: $spacer;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            margin-bottom: $spacer * 2;
            cursor: pointer;
        }

        &__time {
            color: $color-secondary;
        }

        &__title {
            color: $color-white;
        }
    }

    &-mobile {
        @include media-breakpoint-up(md) {
            padding-bottom: 0;
        }

        &__row {
            align-items: center;
        }

        &__photo {
            max-width: 100%;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        &__text {
            margin-bottom: $spacer * 3;
        }

        &-list {
            @include clear-list-style();
            padding-left: 30px;

            &__item {
                position: relative;
                left: 0;
                padding-left: 30px;
                transition: .3s linear;
                margin-bottom: $spacer / 2;

                &:before {
                    content: '\203A';
                    position: absolute;
                    text-align: center;
                    color: $color-white;
                    font-size: $font-size-xl-regular;
                    top: 1px;
                    left: 0;
                    width: 21px;
                    line-height: 21px;
                    height: 21px;
                    border-radius: 50%;
                    background-color: $color-secondary;
                }

                &:hover {
                    left: 20px;
                }
            }
        }
    }

    &-advantage {
        &__row {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        &-item {
            position: relative;
            flex: 0 1 auto;
            padding: 0 15px;
            text-align: center;
            padding-bottom: $spacer * 2;
            @include media-breakpoint-down(md) {
                margin-bottom: $spacer * 2;
            }

            &:hover {
                .section-advantage-item__icon {
                    transform: rotateY(180deg);
                }
            }

            &:before {
                content: '';
                @include center('horizontal');
                bottom: 0;
                width: 30px;
                height: 2px;
                background-color: $color-white;
            }

            &__icon {
                width: 44px;
                height: 44px;
                fill: $color-secondary;
                transform: rotateZ(0deg);
                transition: .5s;
            }

            &__count {
                margin: $spacer / 2 0;
                font-size: $base-font * 2;
                color: $color-white;
            }

            &__title {
                text-transform: uppercase;
                color: $color-secondary;
            }
        }
    }

    &-recent-posts {
        text-align: center;

        &__title {}

        &__desc {
            margin-bottom: $spacer * 3;
        }
    }

    &-partners {
        @include bg-block("../img/bg-partner.jpg", $color: #362f2d, $opacity: .7);
        background-attachment: fixed;
        padding: $spacer * 6 0;

        &__row {
            align-items: center;
        }

        &__photo {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            transition: .2s;
            transform: scale(1);
            @include media-breakpoint-down(sm) {
                padding: $spacer 0;
            }

            &:hover {
                filter: drop-shadow(7px 4px 4px black);
                transform: scale(1.1);
            }
        }
    }
}

.about-item {
    text-align: center;

    @include media-breakpoint-down(md) {
        margin-bottom: $spacer * 2;
    }

    &__icon {
        width: 44px;
        height: 49px;
        margin-bottom: $spacer;
        fill: $color-gray-dark;
        transition: all .5s linear;
    }

    &__title {
        margin-bottom: $spacer / 1.5;
        transition: all .5s linear;
    }

    &__desc {
        margin-bottom: $spacer;
    }

    &:after {
        content: '';
        @include center('horizontal');
        bottom: 0;
        height: 3px;
        width: 70px;
        background-color: $color-gray-dark;
        transition: all .5s linear;
    }

    &:hover {
        .about-item__icon {
            fill: $color-secondary;
        }

        .about-item__title {
            color: $color-secondary;
        }

        &:after {
            background-color: $color-secondary;
        }
    }
}

.browser {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    &__img {
        transition: bottom .5s linear;
        max-width: 100%;
        bottom: 0;
        @include media-breakpoint-down(md) {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        &_center {
            position: relative;
            z-index: 2;

        }

        &_left,
        &_right {
            @include media-breakpoint-up(lg) {
                position: absolute;
                width: 50%;
                bottom: 0;
                z-index: 1;
            }
        }

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }


        &:hover {
            bottom: 10px;
        }
    }
}