include ./config.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block titleSite
            title Waxom
        link(rel='stylesheet', href="/css/main.min.css")
        block variables
            - var pageClass = "";

    body(class=pageClass)
        include layout/header.pug
        
        block content

        include layout/footer.pug
    
    script(src="/js/scripts.min.js")