//- HTML title & meta
- 
    var pages = {
        home: {
            title: "Home",
        }
    }

-
    var menu = [
        {name: "Home", link: "#"},
        {name: "About Us", link: "#"},
        {name: "Portfolio", link: "#"},
        {name: "Features", link: "#"},
        {name: "Blog", link: "#"},
        {name: "Pricing", link: "#"},
        {name: "Shortcodes", link: "#"},
        {name: "Contact", link: "#"},
    ]

-
    var slider = [
        {
            image: "/img/slider.jpg", 
            title: "Portfolio PSD Template", 
            subTitle: "Unique and Modern Design",
            text: "Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.",
            btnText: "Get started"
        },
        {
            image: "/img/slider.jpg", 
            title: "Portfolio PSD", 
            subTitle: "Unique and Modern Design",
            text: "Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.",
            btnText: "Get started"
        },
    ]

-
    var about = [
        {
            icon: 'pencil',
            title: 'Web & App Design',
            desc: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
        },
            {
            icon: 'layouts',
            title: 'Development',
            desc: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.'
        },
            {
            icon: 'setting',
            title: 'Customization',
            desc: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
        },
            {
            icon: 'bag',
            title: 'Marketing',
            desc: 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'
        }
    ]

-
    var variation = {
        title: "Waxom is Realization of your Ideas.",
        desc: 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.<br />Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.',
        browserImg: ['/img/browser-left.jpg', '/img/browser-center.jpg', '/img/browser-right.jpg']
    }

-
    var tabProjects = [
        {
            slideName: 'Web Design',
            projects: [
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-1.jpg',
                    type: 'Photography, Nature'
                },
                    {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-2.jpg',
                    type: 'Photography, Nature'
                },
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-3.jpg',
                    type: 'Photography, Nature'
                },
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-4.jpg',
                    type: 'Photography, Nature'
                },
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-5.jpg',
                    type: 'Photography, Nature'
                },
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-6.jpg',
                    type: 'Photography, Nature'
                }
            ]
        },
        {
            slideName: 'Mobile App',
            projects: [
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-1.jpg',
                    type: 'Photography, Nature'
                },
                    {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-2.jpg',
                    type: 'Photography, Nature'
                },
            ]
        },
        {
            slideName: 'Illustration',
            projects: [
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-1.jpg',
                    type: 'Photography, Nature'
                },
                    {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-2.jpg',
                    type: 'Photography, Nature'
                },
            ]
        },
            {
            slideName: 'Photography',
            projects: [
                {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-6.jpg',
                    type: 'Photography, Nature'
                },
                    {
                    title: 'Claritas Etiam Processus',
                    img: '/img/project-5.jpg',
                    type: 'Photography, Nature'
                },
            ]
        },
    ]

-
    var advantages = [
        {
            icon: "user-icon",
            count: 3587,
            title: "Satisfied Clients"
        },
            {
            icon: "coffe-icon",
            count: 207,
            title: "Cups of coffee"
        },
            {
            icon: "message-icon",
            count: 2500,
            title: "Blog posts"
        },
            {
            icon: "heart-icon",
            count: 873,
            title: "Likes"
        },
            {
            icon: "food-icon",
            count: 900,
            title: "We launched"
        }
    ]

-
    var recentPosts = {
        title: 'Recent Posts.',
        desc: 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. <br> Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.',
        posts: [
            {
                photo: '/img/post-1.jpg',
                title: 'Lorem ipsum dolor sit amet',
                desc: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.',
                date: 'September 08 2020',
                moreBtn: 'Read more'
            },
            {
                photo: '/img/post-2.jpg',
                title: 'Lorem ipsum dolor sit amet',
                desc: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.',
                date: 'September 08 2020',
                moreBtn: 'Read more'
            },
            {
                photo: '/img/post-3.jpg',
                title: 'Lorem ipsum dolor sit amet',
                desc: 'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.',
                date: 'September 08 2020',
                moreBtn: 'Read more'
            },
        ]
    }

-
    var partners = [
        'img/partner-1.png',
        'img/partner-2.png',
        'img/partner-3.png',
        'img/partner-4.png',
    ]