//- HTML title & meta
- 
    var pages = {
        home: {
            title: "Home",
        }
    }

-
    var menu = [
        {name: "Home", link: "#"},
        {name: "About Us", link: "#"},
        {name: "Portfolio", link: "#"},
        {name: "Features", link: "#"},
        {name: "Blog", link: "#"},
        {name: "Pricing", link: "#"},
        {name: "Shortcodes", link: "#"},
        {name: "Contact", link: "#"},
    ]

-
    var slider = [
        {
            image: "/img/slider.jpg", 
            title: "Portfolio PSD Template", 
            subTitle: "Unique and Modern Design",
            text: "Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum."
        },
        {
            image: "/img/slider.jpg", 
            title: "Portfolio PSD Template", 
            subTitle: "Unique and Modern Design",
            text: "Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum."
        },
    ]