header(class='header ' + pageClass+'__header')
    .container-fluid
        .row.header__row
            .col-lg-4.col-4.header__logo-wrapper
                a(href="/")
                    img.header__logo(src="img/logo.svg")
                .header__title Waxom
            .col-lg-6.col-4.header__navigation-wrapper
                button(class="hamburger header__navigation-wrapper-btn hamburger--collapse" type="button")
                    span.hamburger-box
                        span.hamburger-inner
                nav.navigation#menu-header.header__navigation
                    ul.navigation__list
                        each item in menu
                            li.navitagation__item
                                a(href=item.link).navigation__link= item.name
            .col-lg-1.col-4.header__tools
                svg.header__icon
                    use(xlink:href="img/sprite.svg#cart-icon")
                svg.header__icon
                    use(xlink:href="img/sprite.svg#search-icon")

