header(class='header ' + pageClass+'__header')
    .container-fluid
        .row.header__row
            .col-lg-4.header__logo-wrapper
                a(href="/")
                    img.header__logo(src="/img/logo.svg")
                .header__title Waxom
            .col-lg-6
                nav.navigation
                    ul.navigation__list
                        each item in menu
                            li.navitagation__item
                                a(href=item.link).navigation__link= item.name
            .col-lg-1.offset-lg-1.header__tools
                svg.header__icon
                    use(xlink:href="/img/sprite.svg#cart-icon")
                svg.header__icon
                    use(xlink:href="/img/sprite.svg#search-icon")

